/********************* Colour reference chart****************
*************************** comment ********* colour ******** 

Aries - red                     #F6320F
Library - dark purple           #33105D
Yolk - yellow                   #FFCE67
Burnout - blue                  #273A9F
Lambrusco - magenta             #8D176D
Esteem - bubblegum pink         #FF8EF4
Baggolini - dark green          #114A28
Touch grass - light green       #A9C264

Paper - white                   #F4F0E0
Ink - black                     #111111

*/



body {
  background: #F4F0E0;
  width: 100%;
  margin: 0;
}

/* TYPOGRAPHY */

@font-face {
  font-family: Canela;
  src: url(../fonts/Canela-Light.otf);
  font-weight: 300;
}

@font-face {
  font-family: Canela;
  src: url(../fonts/Canela-Regular.otf);
  font-weight: 500;
}

@font-face {
  font-family: Canela;
  src: url(../fonts/Canela-Bold.otf);
  font-weight: 700;
}

@font-face {
  font-family: Canela-Italic;
  src: url(../fonts/Canela-RegularItalic.otf);
  font-weight: 500;
}

@font-face {
  font-family: Messina;
  src: url(../fonts/MessinaSans-Regular.ttf);
  font-weight: 500;
}

@font-face {
  font-family: Messina;
  src: url(../fonts/MessinaSans-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: Messina;
  src: url(../fonts/MessinaSans-Black.ttf);
  font-weight: 900;
}

h1 {
  font-family: Canela;
  font-weight: 500;
  font-size: 5em;
  text-transform: uppercase;
  color: #33105D;
  text-align: center;
}

#h1-red {
  color: #f6320f;
}

h3 {
  font-family: Canela;
  font-weight: 500;
  font-size: 2.5em;
  text-transform: uppercase;
  color: #33105D;
  margin-top: 0;
}

h4 {
  font-family: Messina;
  font-weight: 700;
  font-size: 1.5em;
  line-height: 1em;
  color: #111111;
  margin-top: 0;
}

p {
  font-family: Messina;
  font-size: 1.1em;
  line-height: 1.6em;
  color: #111111;
}

.breadcrumb {
  margin-bottom: 50px;

}

.breadcrumb a {
  font-family: Messina;
  font-size: 1em;
  color: #111111;
}

.breadcrumb a:hover {
  text-decoration: underline;
}

.quote {
  font-family: Canela;
  font-size: 1.4em;
  line-height: 1.6em;
  color: #33105D;
}

a {
  text-decoration: none;
}

/* BUTTON STYLES*/

.button-01 a {
  display: inline-block;
  font-family: Messina;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.2em;
  color: #273A9F;
  width: 100%;
  padding: 10px 0 10px 0;
  text-align: center;
  vertical-align: middle;
}

.button-01 a:hover {
  color: #E8E3D0;
}

.button-01 {
  min-width: 100px;
  color: #273A9F;
  border: solid 2px #273A9F;
  background-color: transparent;
  border-radius: 7px;
}

.button-01:hover {
  background-color: #273A9F;
  transition: 0.3s;
  color: #E8E3D0;

}

/* NONSEQUITUR HEADER */

.header {
  width: 100%;
  background-color: #f6320f;
  padding-top: 10px;
  top: 0;
}

.header .logo {
  float: none;
  display: block;
  margin: auto;
}

/* ANCILLARY */


.funky-image {
  display: flex;
  max-width: 100%;
}

#rotate-left-5deg {
  transform: rotate(-5deg);
}

#rotate-right-5deg {
  transform: rotate(5deg);
}

/* FOOTER */

.footer {
  bottom: 0;
  margin: auto;
  width: 100%;
  background-color: #33105D;
  padding-top: 10px;
  padding-bottom: 10px;
  top: 0;
  text-align: center;
  vertical-align: middle;
}


/* MAIN CONTENT */

.wrapper {
  width: 100%;
  margin: auto;
  max-width: 1200px;
  /*border: dashed 1px rgba(255, 0, 0, 0.181);*/
}

.post-wrapper {
  width: 80%;
  margin: 0 auto;
  /* border: dashed 1px green; */
}

.landing-section-2 {
  margin: auto;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  background: #FFCE67;
  padding-top: 150px;
  padding-bottom: 150px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
}

.landing-self-help {
  margin-top: 100px;
}

.landing-section-3 {
  margin: auto;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  background: #33105D;
  padding-top: 100px;
  padding-bottom: 80px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
}

.landing-section-4 {
  margin: auto;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 80px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
}

/* MOBILE */
/* MOBILE */
/* MOBILE */
/* MOBILE */
/* MOBILE */

.landing-self-help-grid {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: -40px;
  display: grid;
  gap: 1rem;
  /* border: dashed 1px rgba(255, 0, 0, 0.349);*/
}

.landing-self-help-grid a {
  text-decoration: none;
  font-family: Canela;
  font-size: 2em;
  text-align: center;
  vertical-align: middle;

}

/*SELF-HELP GRID, CARD STYLING*/

.card {
  display: flex;
  height: 300px;
  margin: auto;
  position: relative;
  color: white;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 5px;
}

.card:hover {
  transform: translate(3px, 3px);
  transition: 0.2s;
}


.purple {
  background: #33105D;
  color: #FFCE67;
}

.blue {
  background: #273A9F;
  color: #FF8EF4;
}

.magenta {
  background: #8D176D;
  color: #FFCE67;
}

.pink {
  background: #FF8EF4;
  color: #114A28;
}

.green {
  background: #A9C264;
  color: #33105D;
}

.yellow {
  background: #FFCE67;
  color: #E33F08;
}

.white {
  color: #F4F0E0;
}

/* BLOG EXCERPTS */

.excerpt {
  display: inline-block;
  height: 100%;
  margin: auto;
  position: relative;
  color: white;
  padding: 20px;
  grid-template-columns: repeat(1, 1fr);
  margin-bottom: 10px;
}

/* MOBILE - MEDIA SCREENS */

@media (min-width: 300px) {

  /* MOBILE - HEADER */

  .header {
    padding-bottom: 5px;
  }

  .logo {
    max-height: 30px;
  }


  /* MOBILE - TYPOGRAPHY */

  h1 {
    font-family: Canela;
    font-weight: 500;
    font-size: 3.2em;
    text-transform: uppercase;
    color: #33105D;
    text-align: center;
  }

  .h1-italic {
    font-family: Canela-Italic;
    font-weight: 500;
    font-size: 3.2em;
    color: #33105D;
  }

  .h1-italic-big {
    font-family: Canela-Italic;
    font-weight: 500;
    font-size: 3.2em;
    text-transform: capitalize;
    color: #33105D;
  }

  .h1-emphasize {
    z-index: 0;
    font-family: Canela;
    font-weight: 500;
    font-size: 3.2em;
    text-transform: uppercase;
    filter: drop-shadow(5px 5px 0 #8D176D);
    color: #F4F0E0;
  }

  h2 {
    font-family: Canela;
    font-weight: 500;
    font-size: 2em;
    line-height: 1.2em;
    color: #33105D;
    margin-top: 0;
  }

  .canela {
    font-family: Canela;
    font-size: 1.4em;
    line-height: 1.4em;
    color: #33105D;
  }

  .read-more {
    font-family: Messina Sans;
    font-weight: 700;
    color: #33105D;
  }

  /* MOBILE - NAVIGATION MENU */


  #mobile-menu-btn {
    width: 100%;
    display: inline-block;
    font-family: Messina;
    font-size: 1em;
    color: #F4F0E0;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    background-color: #F6320F;
    padding-top: 10px;
    padding-bottom: 10px;

  }

  #mobile-menu-overlay {
    z-index: 999;
    width: 0;
    position: fixed;
    background: rgba(51, 16, 93, .6);
    height: 400px;
    backdrop-filter: blur(5px);
    /* border: dashed 1px red; */

  }

  .mobile-menu-close {
    position: absolute;
    right: 0;
    top: 20px;
    font-family: Messina;
    text-decoration: none;
    color: #F4F0E0;
    text-transform: uppercase;
    font-size: 1em;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 20px;
  }

  #mobile-menu-items {
    position: relative;
    top: 50px;
    display: none;
  }

  /* NAVIGATION MENU */

  #tocbar {
    z-index: 100;
    overflow: hidden;
    background: #4E352D;
    width: 100%;    
    font-family: Messina;
  }

  .toc-container {
    width: 100%;
    margin: auto;
    max-width: 1200px;
    padding: 10px;
  }
  
  .toc-menu {
    width: 100%;
    color: #E8E3D0;
    display: block;
    font-weight: 700;
    padding: 10px 0 10px 0;
    text-align: left;
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    transition: 0.1s;
  }

  .menu {
    display: none;
  }

  .menu-icon {
    height: 10px;
    padding-bottom: 2px;
  }

  .close-icon {
    height: 25px;
    padding-bottom: 2px;
  }

  li {
    display: block;
  }

  li a {
    font-family: Messina;
    display: inline-block;
    width: 300px;
    text-decoration: none;
    color: #FFF7EA;
    text-transform: uppercase;
    font-size: 2em;
    line-height: 1.5em;
  }

  /* BLOG EXCERPTS */

  .excerpt {
    display: inline-block;
    height: 100%;
    margin: auto;
    position: relative;
    color: white;
    padding: 20px;
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 10px;
  }

  /* LANDING SECTIONS*/

  .landing-section-1 {
    margin-top: 70px;
    margin-bottom: 80px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .landing-self-help {
    margin-top: 70px;
  }

  .landing-blog {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .landing-section-3 {
    margin: auto;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    background: #33105D;
    padding-top: 50px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
  }

  /*SELF-HELP GRID */

  .landing-self-help-grid {
    padding: 20px;
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 100px;
  }

  /* ANCILLARY */

  .funky-image-grid {
    margin: 0 auto;
    display: grid;
    width: 90%;
    padding: 10px;
    grid-template-columns: repeat(1, 1fr);

  }

  .funky-image {
    display: flex;
    max-width: 100%;
  }

  #rotate-left-5deg {
    transform: rotate(-5deg);
  }

  #rotate-right-5deg {
    transform: rotate(5deg);
  }

}

@media (min-width: 600px) {

  /*MOBILE - HEADER */

  .logo {
    height: 30px;
  }


  /* MOBILE - TYPOGRAPHY */

  h1 {
    font-family: Canela;
    font-weight: 500;
    font-size: 4em;
    text-transform: uppercase;
    color: #33105D;
    text-align: center;
  }

  .h1-italic {
    font-family: Canela-Italic;
    font-weight: 500;
    font-size: 4em;
    color: #33105D;
  }

  .h1-emphasize {
    font-family: Canela;
    font-weight: 500;
    font-size: 4em;
    text-transform: uppercase;
    filter: drop-shadow(5px 5px 0 #8D176D);
    color: #F4F0E0;
  }

  .h1-italic-big {
    font-family: Canela-Italic;
    font-weight: 500;
    font-size: 4em;
    text-transform: capitalize;
    color: #33105D;
  }

  h2 {
    font-family: Canela;
    font-weight: 500;
    font-size: 2em;
    line-height: 1em;
    color: #33105D;
    margin-top: 0;
  }

  .read-more {
    font-family: Messina Sans;
    font-weight: 700;
    color: #33105D;
  }

  /* MOBILE MENU */


  #mobile-menu-items {
    position: relative;
    top: 50px;
    display: none;

  }

  /* LANDING SECTIONS */

  .landing-section-1 {
    margin-top: 80px;
    margin-bottom: 80px;
  }

  .landing-section-3 {
    margin: auto;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    background: #33105D;
    padding-top: 50px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
  }

  /* SELF-HELP GRID */

  .landing-self-help-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .card {
    padding: 10px;
  }

  /* ANCILLARY */

  .funky-image-grid {
    margin: 0 auto;
    display: grid;
    width: 90%;
    padding: 10px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {

  .header {
    padding-bottom: 2px;
  }

  .logo {
    height: 50px;
  }

  /* NAVIGATION 
  TABLE OF CONTENTS */

  #tocbar {
    z-index: 100;
    overflow: hidden;
    background: #4E352D;
    width: 100%;    
    font-family: Messina;
  }

  .toc-container {
    width: 100%;
    margin: auto;
    max-width: 1200px;
    padding: 10px;
  }
  
  .toc-menu {
    width: 100%;
    color: #E8E3D0;
    display: block;
    font-weight: 700;
    padding: 10px 0 10px 0;
    text-align: left;
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    transition: 0.1s;
  }


  li {
    display: inline;
  }

  li a {
    display: inline-block;
    width: 170px;
    text-decoration: none;
    color: #FFF7EA;
    text-transform: uppercase;
    font-size: 1em;
    line-height: 1em;
  }

  li a:hover {
    font-weight: 900;
  }


  /* BLOG EXCERPTS */

  .excerpt {
    display: inline-block;
    height: 100%;
    margin: auto;
    position: relative;
    color: white;
    padding: 20px;
    border-radius: 5px;
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 10px;
  }

  .excerpt:hover {
    transform: translate(3px, 3px);
    transition: 0.3s;
    background: #E8E3D0;

  }

  /* BIG SCREENS - TYPOGRAPHY */

  h1 {
    font-family: Canela;
    font-weight: 500;
    font-size: 6.5em;
    text-transform: uppercase;
    color: #33105D;
    margin-top: 0;
  }

  .h1-italic {
    font-family: Canela-Italic;
    font-weight: 500;
    font-size: 5em;
    color: #33105D;
  }

  .h1-italic-big {
    font-family: Canela-Italic;
    font-weight: 500;
    font-size: 6em;
    text-transform: capitalize;
    color: #33105D;
  }

  .h1-emphasize {
    font-family: Canela;
    font-weight: 500;
    font-size: 6.4em;
    text-transform: uppercase;
    filter: drop-shadow(5px 5px 0 #8D176D);
    color: #F4F0E0;
  }

  h2 {
    font-family: Canela;
    font-weight: 500;
    font-size: 3em;
    line-height: 1em;
    color: #33105D;
    margin-top: 0;
  }

  .canela {
    font-family: Canela;
    font-size: 1.7em;
    line-height: 1.5em;
    color: #33105D;
  }

  .read-more {
    font-family: Messina Sans;
    font-weight: 700;
    color: #33105D;
  }


  /* MOBILE - NAVIGATION MENU */
  .menu-icon {
    display: none;
  }

  #mobile-menu-btn {
    display: none;

  }

  #mobile-menu-overlay {
    display: none;

  }

  .mobile-menu-close {
    display: none;
  }

  #mobile-menu-items {
    display: none;

  }


  /* NAVIGATION MENU */

  .menu {
    list-style-type: none;
    display: block;
    padding: 0;
    width: 100%;
    font-family: Messina;
    text-align: center;
  }


  li {
    display: inline;
  }

  li a {
    display: inline-block;
    width: 170px;
    text-decoration: none;
    color: #FFF7EA;
    text-transform: uppercase;
    font-size: 1em;
    line-height: 1em;
  }

  li a:hover {
    font-weight: 900;
  }

  /* LANDING SECTIONS */


  .landing-section-1 {
    margin-top: 70px;
    margin-bottom: 120px;

  }

  .landing-self-help {
    margin-top: 100px;
  }

  .landing-blog {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 80px;
    margin-top: 80px;
    margin-bottom: 50px;
  }

  #blog-h2 {
    margin-bottom: 10px;
  }


  /*SELF-HELP GRID */

  .landing-self-help-grid {
    grid-template-columns: repeat(3, 1fr);
  }


}