/********************* Colour reference chart****************
*************************** comment ********* colour ******** 

Aries - red                     #F6320F
Library - dark purple           #33105D
Yolk - yellow                   #FFCE67
Burnout - blue                  #273A9F
Lambrusco - magenta             #8D176D
Esteem - bubblegum pink         #FF8EF4
Baggolini - dark green          #114A28
Touch grass - light green       #A9C264

Paper - white                   #F4F0E0
Ink - black                     #111111

*/

html { 
    font-size: 22px; 
}

body { 
    background: #F4F0E0;
    width: 100%;
    margin: 0;
}

/* TYPOGRAPHY */

@font-face {
  font-family: Canela;
  src: url(../fonts/Canela-Light.otf);
  font-weight: 300;
}

@font-face {
  font-family: Canela;
  src: url(../fonts/Canela-Regular.otf);
  font-weight: 500;
}

@font-face {
  font-family: Canela;
  src: url(../fonts/Canela-Bold.otf);
  font-weight: 700;
}

@font-face {
  font-family: Canela-Italic;
  src: url(../fonts/Canela-RegularItalic.otf);
  font-weight: 500;
}

@font-face {
  font-family: Messina;
  src: url(../fonts/MessinaSans-Regular.ttf);
  font-weight: 500;
}

@font-face {
  font-family: Messina;
  src: url(../fonts/MessinaSans-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: Messina;
  src: url(../fonts/MessinaSans-Black.ttf);
  font-weight: 900;
}

h1 {
  font-family: Canela;
  font-weight: 500;
  font-size: 5em;
  text-transform: uppercase;
  color: #33105D;
  text-align: center;
}

#h1-red {
  color: #f6320f;
}


/* NONSEQUITUR HEADER */

.header {
  width: 100%;
  background-color: #f6320f;
  padding-top: 30px;
  padding-bottom: 30px;
  top: 0;
}

.header .logo {
  float: none;
  display: block;
  margin: auto;
}

/* MAIN CONTENT */

.wrapper {
  width: 100%;
  margin: auto;
  max-width: 1200px;
  border: dashed 1px rgba(255, 0, 0, 0.181);
}

.landing-section-1 {
  margin: 10px;
}

.landing-section-2 {
  margin: auto;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  background: #FFCE67;
  padding-top: 150px;
  padding-bottom: 150px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
}

/* MOBILE */
/* MOBILE */
/* MOBILE */
/* MOBILE */
/* MOBILE */

.card {
  background-color: dodgerblue;
  color: white;
  padding: 1rem;
  height: 4rem;

}

.cards {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
  }
  

  /* MOBILE - MEDIA SCREENS */

  @media (min-width: 300px) {

    /* MOBILE - HEADER */

    /* MOBILE - TYPOGRAPHY */

    h1 {
      font-family: Canela;
      font-weight: 500;
      font-size: 2.5em;
      text-transform: uppercase;
      color: #33105D;
      text-align: center;
    }

    .h1-italic {
      font-family: Canela-Italic;
      font-weight: 500;
      font-size: 1.7em;
      text-transform: capitalize;
      color: #33105D;
    }

     /* MOBILE - NAVIGATION MENU */

     .mobile-menu {
      width: 100%;
      display: block;
      background-color: #33105D;
      padding-top: 2px;
      padding-bottom: 2px;

    }

    .mobile-menu-btn {
      font-family: Messina;
      font-size: 1em;
      color: #F4F0E0;
      text-transform: uppercase;
      text-align: center;
      vertical-align: middle;
    }

    .mobile-menu-window-active {
      width: 100%;
      background: #33105D;
      height: 400px;
      border: dashed 1px red;
    }
    
    .mobile-menu-close {
      font-family: Messina;
     float: right;
      text-decoration: none;
      color: #F4F0E0;
      text-transform: uppercase;
      font-size: 1.2em;
      padding-top: 10px;
      padding-bottom: 10px;
      margin-right: 10px;
      border: dashed 1px white;
    }

    /* NAVIGATION MENU */

    .menu {
      display: none;
    }

    li {
        display: block;
    }

    li a {
      font-family: Messina;
      display: inline-block;
      width: 300px;
      text-decoration: none;
      color: #F4F0E0;
      text-transform: uppercase;
      font-size: 1.5em;
      line-height: 1.7em;
    }

    li a:hover {
      font-weight: 900;
    }

    .cards { 
        grid-template-columns: repeat(2, 1fr); 
    }

  }

  @media (min-width: 600px) {
    /* MOBILE - TYPOGRAPHY */

    h1 {
      font-family: Canela;
      font-weight: 500;
      font-size: 3.2em;
      text-transform: uppercase;
      color: #33105D;
      text-align: center;
    }

    .h1-italic {
      font-family: Canela-Italic;
      font-weight: 500;
      font-size: 2.7em;
      text-transform: capitalize;
      color: #33105D;
    }

    .cards { 
        grid-template-columns: repeat(2, 1fr); 
    }
  }

  @media (min-width: 900px) {
    /* BIG SCREENS - TYPOGRAPHY */

    h1 {
      font-family: Canela;
      font-weight: 500;
      font-size: 5em;
      text-transform: uppercase;
      color: #33105D;
    }
    
    .h1-italic {
      font-family: Canela-Italic;
      font-weight: 500;
      font-size: 4em;
      text-transform: capitalize;
      color: #33105D;
    }
    
     /* MOBILE - NAVIGATION MENU */

     .mobile-menu {
      display: none;
    }

    .mobile-menu-btn {
     display: none;
    }

    .mobile-menu-window-active {
      display: none;
    }

/* NAVIGATION MENU */

.menu {
  list-style-type: none;
  display: block;
  padding: 0;
  width: 100%;
  font-family: Messina;
  text-align:center;
}

li {
    display:inline;
}

li a {
  display: inline-block;
  width: 200px;
  text-decoration: none;
  color: #33105D;
  text-transform: uppercase;
  font-size: 1em;
}

li a:hover {
  font-weight: 900;
}

    .cards { 
        grid-template-columns: repeat(3, 1fr); 
    }
  }

  